* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.balls-section .pagination {
  position: relative;
  -webkit-filter: url(#fancy-goo);
          filter: url(#fancy-goo);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.balls-section .pagination .goey {
  width: 100%;
  z-index: 2;
  height: 350px;
  border-radius: 50%;
  color: #fff;
  background: #b1d0cd;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  margin: 8px;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  display: block;
  cursor: pointer;
}

.balls-section .pagination .goey:hover {
  background: #f7e0d7;
}

.balls-section .pagination .goey:hover h1 {
  color: #006c67;
}

.balls-section .pagination .goey:hover p {
  color: #706f6f;
}

.balls-section .pagination .goey .goey__text {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.balls-section .pagination .goey .goey__text h1 {
  font-family: sans-serif;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  font-size: 38px;
  margin-bottom: 15px;
}

.balls-section .pagination .goey .goey__text p {
  font-family: Roboto;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  font-size: 22px;
}

.balls-section .pagination .select {
  width: 340px;
  height: 340px;
  background: #f7e0d7;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: 12px;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  left: 28px;
}

@media (max-width: 1200px) {
  .balls-section .pagination .goey {
    height: 300px;
  }

  .balls-section .pagination .select {
    width: 280px;
    height: 280px;
    left: 28px;
    top: 18px;
  }
}

@media (max-width: 991px) {
  .balls-section .pagination .select {
    left: 50px;
  }
}

@media (max-width: 330px) {
  .balls-section .pagination .select {
    left: 30px;
  }
}